<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="../styles.css">

        <title>Servicios</title>
    </head>
    <body>
        
        <header class="header">

            <div class="logo">
                <img src="../images/logo BM.jpg" alt="Logo img">
            </div>

            <nav>
                <ul class="nav-links">
                    <li><a href="./home.html">Inicio</a></li>
                    <li><a href="./turnos.html">Solicitar turno</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="#">Facturación</a></li>
                    <li><a href="#">Contactanos</a></li>
                    <li><a href="./index.html">Cerrar sesion</a></li>
                </ul>
            </nav>

            <a onclick="openNav()" class="menu" href="#"><button>Menu</button></a>

            <div class="overlay" id="mobile_menu">

                <a onclick="closeNav()" href="" class="close" >&times;</a>

                <div class="overlay_content">
                    <a href="./home.html">Inicio</a>
                    <a href="./turnos.html">Solicitar turno</a>
                    <a href="./servicios.html">Servicios</a>
                    <a href="#">Facturación</a>
                    <a href="#">Contactanos</a>
                    <a href="./index.html">Cerrar sesion</a>
                </div>
            </div>           
        </header>

        <main class="s-main">
           <div class="s-container">
                <div class="s-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="s-overlay"></span>

                                <div class="card-image">
                                    <img src="../images/Corte" alt="Corte" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h4 class="service-name">Corte</h4>
                                <p class="s-description">Corte de cabello por $15.000</p>

                            </div>
                        </div>

                        <div class="card">
                            <div class="image-content">
                                <span class="s-overlay"></span>

                                <div class="card-image">
                                    <img src="../images/barba.jpg" alt="Corte y barba" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h4 class="service-name">Corte + Barba</h4>
                                <p class="s-description">Corte de cabello y barba por $20.000</p>

                            </div>
                        </div>

                        <div class="card">
                            <div class="image-content">
                                <span class="s-overlay"></span>

                                <div class="card-image">
                                    <img src="../images/cejas" alt="Cejas" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h4 class="service-name">Cejas + Barba</h4>
                                <p class="s-description">Cejas y barba por $20.000</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="image-content">
                                <span class="s-overlay"></span>

                                <div class="card-image">
                                    <img src="../images/completo.jpg" alt="Completo" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h4 class="service-name">Servicio completo</h4>
                                <p class="s-description">Servicio completo por $30.000</p>
                        </div>
                    </div>
                </div>
           </div>
        </main>

        <footer>
            <p>Elaborado por: Geraldine Pelayo Osorio</p>
        </footer>

        <script src="../javaScript/servicios.js"></script>
    </body>
</html>